<!-- Start Footer -->
<footer class="footer">
    <div class="flex-footer"> <!-- Div details flex footer-->
        <div class="details-resto"> <!-- Div details resto -->
            <div class="media-links"> <!-- Div media links -->
                <h5>Réseaux Sociaux</h5>
                <a href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-2x fa-facebook"></i></a>
                <a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-2x fa-instagram"></i></a>
            </div> <!-- End div media links -->

            <div class="horaires-resto"> <!-- Div horaires resto -->
                <h5>Nos Horaires</h5>
                <ul class="horaires-detail">
                    <li>Du Lundi au Samedi de <span>11h30 à 14h30</span> et de <span>19h30 à 22h</span></li>
                    <li>Fermé le Dimanche !</li>
                </ul>
            </div> <!-- End div horaires resto -->
        </div> <!-- End div details resto -->

        <div class="map"> <!-- Div google map -->
            <p>Venez nous voir directement, il paraît que nous sommes sympathiques</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.4034900986767!2d2.329345615856983!3d48.869584207872336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e3101dcc2bb%3A0x2bc3eaa1f0003cb9!2sRue%20de%20la%20Paix%2C%2075002%20Paris!5e0!3m2!1sfr!2sfr!4v1661189499221!5m2!1sfr!2sfr"  allowfullscreen="" loading="lazy"></iframe>
        </div> <!-- End div google map -->
    </div> <!-- End div details flex footer-->
        
    <div class="copyright"> <!-- Div copyright-->
        <a href="/" class="logo"><img src="/img/logo/logo_transparent.png" alt="Logo Vegan'Eat"/></a>
        <p>Vegan'Eat - All Rights Reserved</p>
    </div> <!-- End div copyright-->
</footer>
<!-- End Footer -->

<!-- Script javascript -->
<script src="/js/script.js"></script>
<script src="/js/upload.js"></script>
</body>
</html>