<!-- Start Header -->
<header class="header">
    <nav class="navbar"> <!-- Start navbar -->
        <a href="/" class="logo"><img src="/img/logo/logo_transparent.png" alt="Logo Vegan'Eat" title="Bienvenue !"/></a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/menu" class="nav-link">Menu</a>
            </li>
            <li class="nav-item">
                <a href="/booking" class="nav-link">Réservation</a>
            </li>
            <li class="nav-item">
                <a href="/order" class="nav-link">Commander</a>
            </li>
            <li class="nav-item">
                <a href="/my-account" class="nav-link active">Mon Compte</a>
            </li>
        </ul>

        <!-- Start menu hamburger -->
        <div class="menu-hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!-- End menu hamburger --> 
        
    </nav> <!-- End navbar -->

    <!-- Progress bar -->
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div> 
</header>
<!-- End Header -->