<%- include('partials/head'); -%>

<%- include('partials/header_user'); -%>

<!-- Start Main -->
<main class="main">
    <!-- Button scroll to top -->
    <button type="button" class="btn-back-to-top">
        <i class="fas fa-2x fa-arrow-up"></i>
    </button>

    <section class="account-sidebar-content"> <!-- Section account sidebar content -->
        <div class="sidebar"> <!-- Div sidebar -->
            <a href="/informations">Mes informations</a>
            <a href="/my-orders">Mes commandes</a>
            <a href="/change-informations">Modifier mes informations</a>
            <a href="/delete-account">Supprimer mon compte</a>
            <a href="/logout" class="logout-link">Se déconnecter</a>
        </div> <!-- End div sidebar -->

        <div class="alert-deleting"> <!-- Div alert deleting -->
            <h2>Suppression du compte</h2>
            <p>Attention ! Vous êtes sur le point de procéder à une action irréversible !</p>
            <p>En supprimant votre compte, vous n'aurez plus accès à certaines fonctionnalités de notre site.</p>

            <div class="confirm-delete"> <!-- Div confirm delete -->
                <form id="deleteAccountForm" class="deleteAccountForm" action="/deleted" method="POST">
                    <label for="confirm_password">Afin de supprimer votre compte, merci de renseigner votre mot de passe</label>
                    <input type="password" placeholder="Mot de passe" id="confirm_password" name="confirm_password" required>

                    <% if(alertMessage != undefined){ %>
                        <p class="alert-message"><%= alertMessage %></p>
                    <% } %>

                    <button type="submit" class="delete-account-btn">Supprimer le compte</button>
                </form>
            </div> <!-- End div confirm delete -->
        </div> <!-- End div alert deleting -->
    </section> <!-- End section account sidebar content -->

</main>
<!-- End Main -->

<%- include('partials/footer'); -%>