<%- include('partials/head'); -%>

<%- include('partials/header_user'); -%>

<!-- Start Main -->
<main class="main">
    <!-- Button scroll to top -->
    <button type="button" class="btn-back-to-top">
        <i class="fas fa-2x fa-arrow-up"></i>
    </button>
    
    <section class="account-sidebar-content"> <!-- Section account sidebar content -->
        <div class="sidebar"> <!-- Div sidebar -->
            <a href="/informations">Mes informations</a>
            <a href="/my-orders">Mes commandes</a>
            <a href="/change-informations">Modifier mes informations</a>
            <a href="/delete-account">Supprimer mon compte</a>
            <a href="/logout" class="logout-link">Se déconnecter</a>
        </div> <!-- End div sidebar -->

        <div class="account-loggedin"> <!-- Div account loggedin -->
            <% if(successLoginMessage){ %>
                <h1 class="success-login"><%= successLoginMessage %></h1>
            <% } %>

            <h3>Bienvenue !</h3>
            <img src="/img/svg/sign_in.svg" alt="Sign In">
        </div> <!-- End div account loggedin -->
    </section> <!-- End section account sidebar content -->
    
</main>
<!-- End Main -->

<%- include('partials/footer'); -%>